credenciados.json
credenciados_es_batch.json
cidades_es_batch.json
estados_es_batch.json
especialidades_es_batch.json
bairros_es_batch.json
especialidades_unicas_template.json
*/reports/*
.idea
*.iml
.git
.DS_Store
node_modules
